.fraction {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.numerator {
    border-bottom: 1px solid black;
    display: block;
}

.denominator {
    display: block;
}

.sdot {
    text-align: center;
}